* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 1440px;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
    min-width: 1440px;
}

header nav {
    line-height: 70px;
    width: 98%;
    margin: auto;
}
header ul {
    list-style-type: none;
    display: inline-block;
}

header li {
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}

header li:hover {
    border-bottom: 5px solid black;
}

header .menuContatti li.border:hover {
    border: none;
}

header .logo {
    float: left;
    padding-right: 20px;
}

header .logo img {
    vertical-align: middle;
}

header nav .menuFunzioni {
    float: left;
}

header nav .menuContatti {
    float: right;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav .button {
    background-color: #0061FF;
    color: white;
    padding: 7px 20px;
}

header .menuContatti li ul {
    display: none;
}

header .menuContatti li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    padding: 0;
}

header .menuContatti li:hover ul li {
    display: block;
    padding: 0 10px;
    line-height:2rem;
}

header .menuContatti .supporto:hover {
    border: none;
}
/* / HEADER */

/* **************** 
    SEZIONE BANNER
**************** */

#banner {
    background-color: #B4D0E7;
    padding-top: 70px;
    padding-bottom: 90px;
    position: relative;
}

#banner .container {
    width: 80%;
    margin: auto;
}

#banner h1 {
    font-size: 66px;
    padding-top: 60px;
}

#banner p {
    width: 35%;
    margin-bottom: 30px;
    margin-top: 35px;
}

#banner .prova {
    background-color: #0061FF;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
}

#banner .annulla a {
    font-size: 30px;
    color: black;
    margin-top: 25px;
}

#banner .annulla {
    margin-top: 20px;
}

#banner .img {
    width: 56%;
    position: absolute;
    bottom: -95px;
    right: 40px;
}

/* **************** 
   / SEZIONE BANNER
**************** */

/* **************** 
   SEZIONE OFFERTE
**************** */
#offerte {
    padding-top: 200px;
    width: 68%;
    margin: auto;
}

#offerte h2 {
    font-size: 36px;
    padding-bottom: 45px;
}

#offerte p {
    display: inline-block;
    padding-right: 20px;
}

#offerte p .full i {
    font-size: 13px;
    vertical-align: middle;
    padding: 4px;
    background-color: #0061FF;
    border-radius: 50%;
    color: white;
}

#offerte p .empty i {
    font-size: 18px;
    color: #D9D9DC;
}

        /* COLONNE*/
#offerte .col {
    float: left;
    width: calc(100%/3 - 20px);
    margin-right: 20px;
    margin-top: 40px;
    border: 1px solid #D9D9DC;
    min-height: 1000px;
}

#offerte .col .etichetta {
    text-align: center;
    border-bottom: 1px solid #D9D9DC;
    padding: 15px;
}

#offerte .col .caratteristiche, .puntiDiForza {
    list-style-type: none;
    padding: 35px;
}

#offerte .col hr {
    width: 25%;
    margin-top: 14px;
}

#offerte .caratteristiche h2 {
    padding-bottom: 10px;
    font-size: 27px;
}

#offerte .caratteristiche li:nth-child(2) {
    font-weight: bold;
}

#offerte .caratteristiche li:nth-child(3) {
    padding-bottom: 35px;
    color: #788591;
}

#offerte .caratteristiche li, .puntiDiForza li {
    padding-bottom: 15px;
}

#offerte .caratteristiche a.button {
    background-color: #0061FF;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
}

#offerte .caratteristiche li:nth-child(7) {
    padding-top: 43px;
    padding-bottom: 25px;
}

#offerte .caratteristiche li:nth-child(8) a {
    color: #166FFF;
    font-weight: bold;
}

#offerte .puntiDiForza h2 {
    padding-bottom: 10px;
    font-size: 18px;
}

#offerte .puntiDiForza {
    padding-top: 0px;
}

#offerte .puntiDiForza i {
    color: #166FFF;
}
        /* / COLONNE */
/* **************** 
   / SEZIONE OFFERTE
**************** */


/* **************** 
 SEZIONE ENTERPRISE
**************** */
#enterprise .etichetta {
    text-align: center;
    border-bottom: 1px solid #D9D9DC;
    padding: 15px;
}

#enterprise {
    padding-top: 70px;
    width: 68%;
    margin: auto;
}

#enterprise .container {
    border: 1px solid #D9D9DC;
    margin-right: 20px;
}

#enterprise .contenuto {
    padding: 35px;
    line-height: 43px;
    position: relative;
}

#enterprise a.button{
    background-color: #0061FF;
    color: white;
    padding: 0px 28px;
    text-decoration: none;
    position: absolute;
    right: 35px;
    top: 35px;
}
/* **************** 
   / SEZIONE ENTERPRISE
**************** */


/* **************** 
SEZIONE PARTNER
**************** */
#partner {
    width: 68%;
    margin: auto;
    padding-top: 120px;
}

#partner .img {
    width: calc(100%/2);
    float: left;
}

#partner .contenuto {
    margin-right: 20px;
    padding-left: 44px;
    float: left;
    width: calc(100%/2 - 20px);
    padding-top: 35px;
}

#partner .contenuto h2, #partner .contenuto p, #partner .contenuto a {
    padding-bottom: 20px;
} 

#partner .contenuto a {
    color: black;
    padding: 7px 20px;
    text-decoration: none;
    border: 1px solid black;
}
/* **************** 
   / SEZIONE PARTNER
**************** */


/* **************** 
    SEZIONE BUSINESS
**************** */
#business {
    width: 68%;
    margin: auto;
    padding-top: 100px;
}
#business h2 {
    width: 100%;
    margin-right: 20px;
    font-size: 36px;
}

#business .rowA {
    width: 100%;
    margin-right: 20px;
    padding: 55px 0;
}

#business .rowA .product {
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    float: left;
    padding-right: 20px;
}

#business .rowA .product h3 {
    font-size: 25px;
}

#business .product h3, #business .product p, #business .product img {
    padding-bottom: 20px;
}
/* **************** 
   / SEZIONE BUSINESS
**************** */


/* **************** 
 SEZIONE COMPAGNIE
**************** */
#compagnie {
    width: 100%;
    padding-top: 100px;
}

#compagnie .titolo {
    width: 68%;
    margin: auto;
    margin-bottom: 30px;
}

#compagnie .titolo h2 {
    font-size: 36px;
}

#compagnie .titolo h2, #compagnie .titolo a {
    padding-bottom: 30px;
}

#compagnie .titolo a {
    color: #166FFF;
    font-weight: bold;
}
/* / TITOLO */


/*   INIZIO BLOCCHI */
.blocchiSinistra, .blocchiDestra {
    width: 400px;
    height: 400px;
    float: left;
    margin-bottom: 150px;
}

#compagnie .row {
    width: 100%;
}

#compagnie .blocco {
    height: 200px;
    width: 200px;
    float: left;
    position: relative;
}

#compagnie .bloccoCentro {
    float: left;
    width: calc(100% - 800px);
    height: 400px;
    background-color: #F5F5F5;
    padding: 35px;
    margin-bottom: 150px;
}

#compagnie .design .logo {
    height: 180px;
    width: 180px;
    background-color: #A2D39B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#compagnie .design img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
    width: 80%;
}

#compagnie .design {
    background-color: #D0E9CD;
}

#compagnie .asu {
    background-color: #61082B;
}

#compagnie .blocco img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

#compagnie .florida {
    background-color: #0093CE;
}

#compagnie .top {
    background-color: #FF1C1C;
}

/* / BLOCCHI SINISTRA */

#compagnie .bicycle {
    background-color: #D5001F;
}

#compagnie .hearst {
    background-color: #B4D0E7;
}

#compagnie .planet {
    background-color: #0D2481;
}

#compagnie .channel {
    background-color: #FFD830;
}

/* / BLOCCHI DESTRA */
#compagnie .bloccoCentro .logo, #compagnie .bloccoCentro p {
    padding-bottom: 45px;
}

#compagnie hr {
    margin-bottom: 45px;
}
/*   / BLOCCHI */

/* STRISCIA IN BASSO */
#compagnie .containerLg {
    background-color: #B4D0E7;
    padding-bottom: 120px;
}

#compagnie .containerLg .container {
    width: 68%;
    margin: auto;
    padding-right: 20px;
}

#compagnie .containerLg h2 {
    font-size: 36px;
    float: left;
    color: #61082B;
}

#compagnie .containerLg a {
    float: right;
    background-color: white;
    color: black;
    padding: 8px 44px;
    text-decoration: none;
    font-size: 20px;

}
/* / STRISCIA IN BASSO */
/* **************** 
   / SEZIONE COMPAGNIE
**************** */



/* **************** 
 SEZIONE FAQ
**************** */
#faq .container {
    width: 68%;
    margin: auto;
    padding-right: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
}

#faq h3 {
    font-size: 34px;
    padding-bottom: 60px;
    border-bottom: 2px solid #DEDEE0;
}

#faq ul {
    list-style-type: none;

}

#faq li {
    border-bottom: 1px solid #DEDEE0;
    padding: 35px 0;
}

#faq li h4 {
    float: left;
    width: 100%;
}

#faq li h4 i {
    float: right;
}

#faq li p {
    width: 100%;
    display: none;
}

#faq li:hover p{
    display: block;
    width: 100%;
    padding-top: 2rem;
}

#faq .fa-chevron-up {
    display: none;
}

#faq li:hover .fa-chevron-up {
    display: inline-block;
}

#faq li:hover .fa-chevron-down {
    display: none;
}
/* **************** 
   / SEZIONE FAQ
**************** */


/* **************
      FOOTER
**************** */
footer {
    width: 100%;
    background-color: black;
    color: white;
}

footer .container {
    width: 80%;
    margin: auto;
    padding-right: 20px;
}

footer ul {
    list-style-type: none;
}

footer li {
    padding: 5px 0;
}

footer h3 {
    font-size: 25px;   
    padding-bottom: 18px;
}


footer .col {
    width: calc(100% / 5);
    float: left;
    padding-top: 75px;
}

footer .col hr {
    margin-top: 70px;
    width: 50%;
    border-color: #999999;
}

footer .lingua span {
    color: #999999;
}

footer .lingua {
    float: left;
    width: 100%;
    padding: 30px 0;
}
/* **************
     /  FOOTER
**************** */